.detailed-page-container {
    display: inline-block;
    max-width: 800px;
    padding: 20px;
}

.detailed-page-container span {
    font-size: 18px;
    font-weight: bold;
}

.detailed-page-container p {
    font-size: 18px;
    word-wrap: break-word;
}