.form-container {
    display: inline-block;
    max-width: 800px;
    padding: 20px;
}

.form-container span {
    font-size: 18px;
    font-weight: bold;
}

.form-container label {
    font-weight: bold;
}

.form-container p {
    word-wrap: break-word;
}

.form-container h2 {
    margin: 0;
    font-size: 24px;
}


.input-field {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.date-picker {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

.textarea-field {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio-list {
    margin-top: 5px;
    margin-bottom: 5px;
}

.radio-list input {
    margin-right: 20px;
}

.radio-list div {
    font-weight: bold;
}

.checkbox-list {
    margin-bottom: 10px;
}

.checkbox-list input {
    color: red;
    width: 20px;
    height: 20px;
    margin-left: 30px;
}
