.search-container {
    padding: 8px;
}

.search-container:focus {
    outline: none;
    border-color: #007bff;
}

.search-container::placeholder {
    color: #999;
}

.search-container input {
    font-size: 20px;
    width: 600px;
}
